
* { margin: 0; 
margin: 0;
padding: 0;

}


h1{
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    padding: 15px;
    font-family: 'Anton', sans-serif;
   color: black;
    
}

.header h1{

font-size: 40px;
font-weight: bold;
font-family: 'Anton', sans-serif;

 color: wheat;

}


h2{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


body{

    text-align: center;
   
    background-image: url(imagenes/selva2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.agrupar{

width: 100%;



}
.header{

    background: green;
    text-align: left;
 
    

}

.menu{

background: white;
text-align: left;
padding: 15px;
position: sticky;
top: 0px;
display: flex;
justify-content: space-between;
z-index: 1;


}

.menu li:hover{

    background: #dfe6e9;
}

.menu a { 
color: green;
font-weight: bold;

}

.menu li{

    list-style: none;
    padding: 5px 50px;
    display: inline-block;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    transition: all 0.2s linear;
    border-radius: 5px;
    line-height: 25px;
  
}   

.seccion{

    width: 100%;
}

.pie{

    clear: both;
    font-weight: 20px;
    background:green;
    font-weight: bold;
    padding: 20px;
    color: white;
    
}



.datoschile{

    justify-content: space-between;
    background: white;
    display: flex;
}


article{

    background: #C5E1A5;
    padding: 40px;
    margin: 0 2%;
   

   
}

article p{

    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 10%;
    
}



.bibliografia{

    list-style: none;
    background:#2ecc71;
    font-weight: bold;
   

}

.bibliografia ul{

    list-style: none;
    font-weight: bold;
    
} 


.archivo{
    width:200px;
    padding: 20px;
    float: left;
    background: #2ecc71;
    margin-top: 40px;
    text-align: left;
    font-weight: bold;

}

header .imagen-portada{

    background-image: url("imagenes/portada.png");
    width: 70%;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

}

header {

    display:flex;
    justify-content: space-between;
   
    
}

a{

    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    text-shadow: black;
}





.especies1 li{
    margin: 40px;
    list-style: none;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    display: inline-flex;
    border-radius: 5px;
    background-repeat: no-repeat;
    width: 25%;
    height: 200px;
    padding: 5px;

    
}

.especies1 :hover{

    opacity: 0.5;
    transition: all 0.2s linear;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding:0px;
}

    .fecha{

        font-size:normal;
        font-family:sans-serif;
        color: black;
        margin :30px;
        text-align: center;
        font-weight: bold;
    }

    .links {
        list-style: none;
        background: white;
        font-style: normal;
        font-family: sans-serif;
        font-weight: bold;
        color: white;
        padding: 200px;
    
    }

    .lista{

        list-style: none;
        background: white;
        font-style: normal;
        font-family: sans-serif;
        font-weight: bold;
        color: white;
    }
    
    .contacto{

        list-style: none;
        background: white;
        font-style: normal;
        font-family: sans-serif;
        font-weight: bold;
        color:black;
    }


    .datos{


        text-align: left;
        font-family: 'Roboto', 'sans-serif';
        font-weight: bold;
        padding: 20px;
        
    }


    .formato-imagen{
    width: 60%;
    padding: 2px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    
    }

.tarjetamovil{

    display: none;
}

.amargaimagen{

    background-image: url(imagenes/amargasaurus-museo-melbourne.jpg);
    background-position: left;
    width: 60%;

}
.chilesaurusimagen{

 
    background-image: url(imagenes/Chilesaurus2.jpg);
}

.austroimagen{

    background-image: url(imagenes/austroraptorhuesos2.jpg);
    background-position: left;
    background-size: contain;
}
.eorapimagen{


    background-image: url(imagenes/eoraptor\ esqueleto.jpg);
    background-size: contain;
}

.herreraimagen{

background-image: url(imagenes/herrerasaurus_imagen_descargas.jpg);
background-size: contain;

}


.chilesaurus{

    background-image: url(imagenes/chilesaurus_imagen_descargas.jpg);
    background-size: cover;
    
}

.amargasaurus{

    background-image: url(imagenes/amargasaurus_imagen_descargas.jpg);
    background-size: cover;
    
}

.austroraptor{

    background-image: url(imagenes/austroraptor_imagen_descargas.webp);
    background-size: cover;
   
}

.eoraptor{

    background-image: url(imagenes/Eoraptor_imagen_descargas.webp);
    background-size: cover;
    
}

.bicentenaria{

    background-image: url(imagenes/bicentenaria_imagen_descargas.jpg);
    background-size: cover;
    
}


.herrerasaurus{

    background-image: url(imagenes/herrerasaurus_imagen_descargas.jpg);
    background-size:172%;
    background-position: 70%;
    
    

}

.fab.fa-facebook-square{

    font-size: 25px
    
}

.fab.fa-instagram
{
    font-size: 25px;
}

.fab, .far {
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
}











@media  (max-width: 768px){


.tarjetamovil{

    display: inline;
}

.fab.fa-instagram
{
    display: none;
}

.fab.fa-facebook-square {
    display: none;
}


header .imagen-portada{

    display: none;

}

.especies1 li{
    margin: 10px 10px;
    list-style: none;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    display: inline-flex;
    border-radius: 5px;
    background-repeat: no-repeat;
     width: 90%;
    height: 155px;
}

ul{

list-style-type: none;
    
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
}
    
.detallestarjeta{

    background: white;
   width: 95%;

}


.formato-imagen {
    width: 100%;
    padding: 2px;
    height: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.datoschile{

    display: none;
}

article {
    background: #C5E1A5;
    margin: 0;
    


}

article p{

text-align: left;
font-family: 'Roboto Condensed','sans-serif';
padding: 0;
}



}


